.app-preview {
    width: 70%;
    height: 100vh;
}

.hide-app-preview {
    width: 70%;
    height: 100vh;
}


.app-preview-note-edit {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #8080802b;
    border-right: 2px solid #8080806e;
    width: 100%;
}

.app-note-preview {
    width: 100%;
}

.save-btn {
    width: 75%;
    height: 40px;
    font-weight: bold;
    background-color: #05B86D;
    color: white;
    border-radius: 5px;
    margin-top: 7px;
}

.save-btn:active {
    background-color: white;
    color: #05B86D;
}

.app-preview-note-preview {
    height: 55vh;
}

.selected-none {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}

.hide-selected-none {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}

.no-active-note {
    font-size: 2rem;
    color: #999;
    margin-top: -5rem;
}

.selected-none .addnote-mob {
    display: none;
}

.app-preview .addnote-mob {
    display: none;
}

.addnote-mob {
    display: none;
}

/* Editing */
.app-preview-note-edit {
    padding: 25px;
}

.app-preview-note-edit input,
textarea {
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: calc(35vh - 130px);
    padding: 10px;
    resize: none;
    font-size: inherit;
    font-family: inherit;
}

.app-preview-note-edit input {
    height: 50px;
    font-size: 2rem;
}

/* Preview */
.app-preview-note-preview {
    border-top: 1px solid #ddd;
    overflow-y: scroll;
    background: rgba(85, 84, 84, 0.055);
}

.preview-title {
    padding: 25px 25px 0 25px;
    margin: 0;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.markdown-preview {
    padding: 0 25px 25px 25px;
    font-size: 1rem;
    line-height: 2rem;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px) {

    .app-preview {
        width: 100%;
    }

    .hide-app-preview {
        display: none;
    }

    .preview-title {
        font-size: 1.2rem;
    }

    .selected-none {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .no-active-note {
        font-size: 1.5rem;
        color: #999;
        position: static;
        margin-top: -5rem;
    }

    .hide-selected-none {
        display: none;
    }

    .selected-none .addnote-mob {
        display: inline-block;
        background-color: #05B86D;
        color: white;
        font-weight: bold;
        font-size: xx-large;
        height: 3.2rem;
        width: 3.2rem;
        padding-bottom: 0.3rem;
        border-radius: 50%;
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        z-index: 99;
    }

    .app-preview .addnote-mob {
        display: inline-block;
        background-color: #05B86D;
        color: white;
        font-weight: bold;
        font-size: xx-large;
        height: 3.2rem;
        width: 3.2rem;
        padding-bottom: 0.3rem;
        border-radius: 50%;
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        z-index: 99;
    }
}