.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    box-shadow: 0 8px 6px -6px #8080802b;
}

.head-and-ham {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: 0.25rem;
}

.ham {
    display: none;
    margin: 0px 10px 0px -5px;
}

.signout-btn {
    font-size: 17px;
    color: red;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(211, 211, 211, 0.274);
}

.signout-btn:hover {
    background-color: rgba(220, 20, 60, 0.589);
    color: white;
}

.heading {
    margin: 0;
    font-size: x-large;
}

.username-signout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username-signout p {
    margin: 0.25rem;
    color: #05B86D;
}

@media (max-width: 765px) {
    .ham {
        display: block;
    }

    .ham-icon {
        font-size: 1.8rem !important;
    }

    .heading {
        font-size: 18px;
        margin: 0.3rem 0.1rem;
    }

    .username-signout p {
        display: none;
    }
}