.app-sidebar {
    margin-top: 0px;
    width: 30%;
    height: 100vh;
    border-right: 1px solid #ddd;
}

.hide-app-sidebar {
    margin-top: 0px;
    width: 30%;
    height: 100vh;
    border-right: 1px solid #ddd;
}

.app-sidebar-notes {
    height: calc(100vh - 78px);
    overflow-y: scroll;
}

.app-sidebar-notes .addnote-mob {}

.app-sidebar-note {
    padding: 25px;
    cursor: pointer;
    position: relative;
}

.sidebar-note-title {
    display: flex;
    justify-content: space-between;
}

.app-sidebar-note .sidebar-delete-btn {
    position: absolute;
    top: 10px;
    right: 5px;
}

.app-sidebar-note .reactMarkdown {
    margin: 10px 0;
}

.app-sidebar-note small {
    display: block;
    color: #999;
}

.app-sidebar-note:hover {
    background: #ddd;
}

.app-sidebar-note.active,
.app-sidebar-note.active small {
    background: rgb(5, 184, 109);
    color: white;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px) {

    .app-sidebar {
        width: 100%;
    }

    .hide-app-sidebar {
        display: none;
    }

    .app-sidebar-notes .addnote-mob {
        display: inline-block;
        background-color: #05B86D;
        color: white;
        font-weight: bold;
        font-size: xx-large;
        height: 3.2rem;
        width: 3.2rem;
        padding-bottom: 0.3rem;
        border-radius: 50%;
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        z-index: 99;
    }
}